body {
  background-color: #003044 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input {
  color: #ffffff !important;
}

.card,
input {
  background-color: #044a68 !important;
  border-radius: 10px;
}

input:focus {
  border-color: #f59800 !important;
  border-block-start-color: #f59800 !important;
  /* background-color: #003f5a !important; */
}

.loading {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
